body,
html {
  margin: 0;
  min-width: 350px;
  font-family: "Lato", sans-serif;
  background-color: #0e0c38;
  color: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-weight: 350;
  font-size: 20px;
  margin: 1em;
  height: 18em;
}

@media (min-width: 600px) {
  header {
    height: 22em;
  }
}

header nav {
  max-width: 1500px;
  margin: 0 auto;
}

header nav p {
  display: inline;
}

header nav div {
  float: right;
}

header nav a {
  padding: 1em 0.2em;
  position: relative;
  -webkit-box-shadow: inset 0 0 0 0.01px #fe0613;
          box-shadow: inset 0 0 0 0.01px #fe0613;
  -webkit-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

header nav a:hover {
  -webkit-box-shadow: inset 0 4em 0 0 #fe0613;
          box-shadow: inset 0 4em 0 0 #fe0613;
}

header nav .active {
  background-color: #fe0613;
}

header nav a:before {
  content: "";
  position: absolute;
  bottom: 3px;
  left: -2px;
  width: 100%;
  height: 0px;
  border: 1px solid #0e0c38;
}

header .info {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
  height: 16em;
}

@media (min-width: 600px) {
  header .info {
    height: 18em;
  }
}

header .info .icon {
  display: inline-block;
  width: 1.5em;
}

header .info h1 {
  margin-bottom: 0;
}

header .info div {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

header .picture {
  float: right;
  height: 12em;
  vertical-align: middle;
  margin: 2.5em 0em 0em 0em;
}

@media (min-width: 600px) {
  header .picture {
    margin: 0em 7em 0em 0em;
    height: 20em;
  }
}

.aboutme:before {
  content: "";
  position: absolute;
  top: 0px;
  text-align: center;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 20px solid #0e0c38;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

section {
  padding: 1em;
  line-height: 1.5em;
  position: relative;
}

@media (min-width: 600px) {
  .center {
    max-width: 900px;
    margin: 0 auto;
  }
}

.white_section {
  background-color: white;
  color: #0e0c38;
}

.aboutme {
  padding-bottom: 4em;
}

@media (min-width: 600px) {
  .aboutme .text_am {
    display: inline-block;
    width: 60%;
  }
}

@media (min-width: 600px) {
  .aboutme .nav_am {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 0 0 2em 2em;
  }
}

.aboutme nav {
  margin: 2em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

@media (min-width: 600px) {
  .aboutme nav {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 0;
  }
}

.aboutme nav a {
  background-color: #fe0613;
  color: white;
  padding: 0.4em;
  position: relative;
  -webkit-box-shadow: inset 0 0 0 0.01px #0e0c38;
          box-shadow: inset 0 0 0 0.01px #0e0c38;
  -webkit-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.aboutme nav a:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 4px;
  width: 0;
  height: 100%;
  border: 1px solid white;
}

.aboutme nav a:hover {
  -webkit-box-shadow: inset 300px 0 0 0px #0e0c38;
          box-shadow: inset 300px 0 0 0px #0e0c38;
}

.aboutme .download {
  background-color: white;
  width: 5rem;
  border: 1px solid #fe0613;
  border-radius: 15px;
  padding: 0.3em 0.5em;
  color: #fe0613;
  font-size: 0.8em;
}

.aboutme .download:hover {
  background-color: #fe0613;
  color: white;
}

.edu_exp > div {
  margin-left: 2em;
}

@media (min-width: 600px) {
  .edu_exp > div {
    margin-left: 9em;
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
  }
}

.edu_exp h3 {
  margin: 1rem 0 0 0;
}

.edu_exp h4 {
  color: #fe0613;
  margin-bottom: 0;
}

.date {
  display: inline-block;
  background-color: #fe0613;
  border-radius: 10px;
  padding: 0.2em 0.4em;
  color: white;
  font-size: 0.7em;
  position: relative;
}

#line_down:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 25px;
  width: 0;
  height: 300px;
  border: 1px solid #fe0613;
}

@media (min-width: 600px) {
  #line_down:after {
    left: 105px;
    height: 250px;
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
  }
}

#line_up:after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 25px;
  width: 0;
  height: 300px;
  border: 1px solid #fe0613;
}

@media (min-width: 600px) {
  #line_up:after {
    left: 105px;
    height: 250px;
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
  }
}

.direction {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px auto;
      grid-template-columns: 50px auto;
  grid-gap: 1em;
}

.direction p {
  font-size: 0.8em;
}

.direction img {
  width: 100%;
  margin: 0.8em auto;
}

.edu_exp:before {
  content: "";
  position: absolute;
  top: 0px;
  text-align: center;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  border-top: 20px solid #0e0c38;
}

.education:before {
  border-top: 20px solid white;
}

.add_training {
  margin: 3em;
}

.add_training > div {
  margin-bottom: 4rem;
  font-size: 0.8em;
}

.add_training .training_school {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 600px) {
  .add_training .training_school {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 250px;
  }
}

.add_training .training_school p {
  margin: 0 1rem;
}

@media (min-width: 600px) {
  .add_training .training_info {
    display: inline-block;
    width: 60%;
    margin: 0;
    vertical-align: top;
  }
}

.language .carrousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px auto;
}

@media (min-width: 600px) {
  .language .carrousel {
    width: 550px;
  }
}

.language .lang {
  width: 180px;
  height: 300px;
  border-radius: 10px;
  -webkit-box-shadow: -1rem 0 3rem #000;
          box-shadow: -1rem 0 3rem #000;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  background-color: #f7e1d7;
  color: #0e0c38;
  padding: 30px;
  left: 0;
}

@media (min-width: 600px) {
  .language .lang {
    width: 210px;
  }
}

.language .lang img {
  width: 70px;
}

.language .lang hr {
  border: 0.5px solid #0e0c38;
}

.language .lang:not(:first-child) {
  margin-left: -145px;
}

.language .lang:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.language .lang:hover ~ .lang {
  position: relative;
  left: 120px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.computer .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 600px) {
  .computer .grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 800px) {
  .computer .grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.computer .grid div {
  text-align: center;
  width: 230px;
  margin: 3em auto;
}

.computer .grid div img {
  height: 70px;
}

.computer .grid div p {
  margin-top: 0;
}

.computer .grid div .computer_skill {
  font-weight: 350;
  letter-spacing: 0.35em;
}

.portfolio .webs > div {
  margin: 2rem;
}

@media (min-width: 600px) {
  .portfolio .webs > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.portfolio a {
  position: relative;
  display: block;
  width: 175px;
  margin: 0 auto;
}

.portfolio a img {
  width: 100%;
  border-radius: .5rem;
}

@media (min-width: 600px) {
  .portfolio a {
    margin: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.portfolio .info_web {
  margin: 0 2rem;
  text-align: center;
}

@media (min-width: 600px) {
  .portfolio .info_web {
    text-align: left;
  }
}

.portfolio .info_web p {
  font-weight: 350;
}

.portfolio .overlay {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  position: absolute;
  border-radius: 0.5rem;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #f7e1d7;
}

.portfolio a:hover .overlay {
  opacity: 0.95;
}

.portfolio .text {
  color: #0e0c38;
  font-size: .8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

footer {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */